/* General styles */

html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 800;
    line-height: 1.2em;
    max-width: 600px;
    letter-spacing: -2px;
}

h1 > span {
    color: #C70039;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2em;
    color: #616161;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}


p {
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'Merriweather', serif;
    color: #000;
}

nav ul li, .findme ul li {
    display: inline;
    margin-right: 20px;
    }
    
    
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #C70039;
}

nav ul, .findme ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0px;
    list-style: none;
}

::-moz-selection {
    color: white;
    background: black;
  }
  
  ::selection {
    color: white;
    background: black;
  }


/* Grid styles HOME */

/* ---- header ---- */
.header {
    grid-area: h;
    display: flex;
    justify-content: right;
    grid-column: 2 / 4;
    padding: 20px 0;
}

.logo {
    margin-right: auto;
    margin-top: auto;
}

/* ---- main content ---- */

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    grid-template-rows: 80px auto 60px;
    grid-template-areas: 
        "h h h h"
        "c c c c"
        "f f f f";
}

.hero {
    margin-top: 70px;
}

.content {
    grid-area: c;
}

.container > .content{
    grid-column:2;
    min-width: 0;
}


/* Grid styles ABOUT */

.about {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    grid-template-rows: 80px auto 60px;
    grid-template-areas: 
        "h h h h"
        "c c c c"
        "f f f f";
}

.about > .content{
    grid-column: 2 / span 2;
    min-width: 0;
}

.content > figure {
    grid-column: 1 / span 2;
    margin: 20px 0;
}

.headlines {
    grid-area: t;
    grid-column:2;
}

.findme {
    grid-area: f;
    grid-column: 2;
    font-size: .8em;
}
