/*body {
    margin: 60px auto;
    width: 70%;


ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
*/

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px auto 100px;
    grid-template-areas: 
        "h h h h h"
        "c c c c c"
        "f f f f f";
}

.header {
    grid-area: h;

}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}

.container > div {
display: flex;
justify-content: center;
align-items: center;
}

html, body {
    margin: 60px auto;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: #333;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    }
    
    
a {
     text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}