html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 80px auto 60px;
    grid-template-areas: 
        "h h h"
        "c c c"
        "f f f";
}

.article {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px auto 60px;
    grid-template-areas: 
        "h h h"
        "c c c"
        "f f f";
}

.article > .content{
    grid-column:2;
    min-width: 0;
}

.header {
    grid-area: h;
    display: flex;
    justify-content: right;
    grid-column: 2;
    padding: 20px 0;
}

.logo {
    margin-right: auto;
    margin-top: auto;
}

.hero {
    margin-top: 70px;
}

.content {
    grid-area: c;
}

.container > .content{
    grid-column:2;
    min-width: 0;
}

.footer {
    grid-area: f;
    grid-column: 2;
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    font-weight: 800;
    line-height: 1.2em;
    max-width: 600px;
}

h1 > span {
    color: #C70039;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.2em;
    color: #616161;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}


footer {
    /* border-top: 1px solid #d5d5d5; */
    font-size: .8em;
}

footer a {
    color: #000000;
}

p {
    font-size: 1.2em;
    line-height: 1.8em;
    font-family: 'Merriweather', serif;
    color: #333;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    }
    
    
a {
    text-decoration: none;
    color: #999;
}

.currentLink {
    padding-bottom: 5px;
    border-bottom: 2px solid #C70039;
}

a:hover {
    color: #C70039;
}

nav ul, footer ul {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 0px;
    list-style: none;
}

::-moz-selection {
    color: white;
    background: black;
  }
  
  ::selection {
    color: white;
    background: black;
  } 