<div class="footer">
		<footer>
			<ul>
				<li><a href="https://twitter.com/midorichan"><i class="fab fa-twitter fa-2x"></i></a></li>
				<li><a href="https://dribbble.com/midorichan"><i class="fab fa-dribbble fa-2x"></i></a></li>
				<li><a href="https://github.com/midorichan"><i class="fab fa-github fa-2x"></i></a></li>
				<li><a href="https://www.behance.net/midorichan"><i class="fab fa-behance fa-2x"></i></a></li>
				<li><a href="https://www.linkedin.com/in/palonso/"><i class="fab fa-linkedin-in fa-2x"></i></a></li>
			</ul>
		</footer>
</div>