<head>
    <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Paula Alonso Ishihara">
  
		<title>{{ page.title }} | Paula Alonso Ishihara | Experience Designer </title>
		<link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">
		<link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:600,700,800" rel="stylesheet"> 
    <link rel="icon" type="image/png" sizes="32x32" href="/images/faviconb-32x32.png">

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% include analytics.html %} 
</head>