<!DOCTYPE html>
<html>
    <head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ 'css/main.css' | absolute_url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
		<style>
				
			</style>
    </head>
    <body>
        <div class="container">
            <div class="header">
				<div class="logo">
					<img src="images/logo.svg" alt="Midori kanji" style="width: 40%; height: auto;">
				</div>
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/work">Work</a></li>
						<li><a href="https://medium.com/@midorichan">Blog</a></li>
					</ul>
				</nav>
			</div>
            <div class="content">
					{{ content }}
			</div><!-- /.content -->
            <div class="footer">
				<footer>
					<ul>
						<li><a href="https://github.com/midorichan">github.com/midorichan</a></li>
					</ul>
				</footer>
			</div>
        </div>
    </body>
</html>